@import "tailwindcss";



@layer components {
  .search-bar {
    @apply w-0 group-hover:w-72 transition-all duration-300 rounded-full
    group-hover:border group-hover:border-gray-500
    px-3 py-1 focus:outline-none focus:border;
  }
}

@layer utilities {
  .hero-bg-color {
    @apply bg-linear-to-r from-gray-900 to-gray-800 text-white;
  }



}